* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background: #ffffff;
    color: #222;
    line-height: 1.6;
}

/* HEADER */
.header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    padding: 20px 8%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid #eee;
}

.logo {
    font-size: 22px;
    font-weight: 700;
}
.logo a {
    text-decoration: none; 
    color: #000;          
    font-size: 22px;       
    font-weight: 700;      
}
.logo #frame{
    position: relative;
    top: 10px;
}

.nav {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
    transition: color 0.3s;
    padding: 5px 10px;
    border-radius: 4px;
}

.nav a:hover {
    color: #2a9d8f;
    background-color: #f0f9f7;
}

.nav a.active {
    color: #2a9d8f;
    font-weight: 600;
    background-color: #e9f5f3;
}
/* Page Header */
.page-header {
    text-align: center;
    padding: 60px 8%;
}

.page-header h1 {
    font-size: 42px;
    font-weight: 800;
}

.page-header p {
    color: #777;
    max-width: 600px;
    margin: 0 auto 40px;
}

.top-image {
    width: 100%;
    margin-top: 20px;
    border-radius: 10px;
}

/* Products Block */
.total-products {
    padding: 80px 8%;
}

.total-products h2 {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 40px;
}

.badge {
    background: #d1ebe4;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 20px;
}

/* Grid */
.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 35px;
}

/* Product Card */
.product-card {
    background: #fff;
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.product-card .category {
    color: #777;
    font-size: 14px;
}

.product-card h3 {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 700;
}

.product-card p {
    color: #777;
    font-size: 14px;
    margin: 6px 0;
}

.product-card strong {
    font-size: 18px;
    display: block;
    margin-top: 10px;
}
